{% extends 'catalog/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4">
            <h2 class="mb-4">Регистрация нового пользователя</h2>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}